services:
  web:
    build: .
    container_name: enginel_app
    ports:
      - 8000:8000
    volumes:
      - ./enginel:/app
    depends_on:
      db:
        condition: service_healthy
        restart: true
      redis:
        condition: service_healthy
    env_file:
      - .env

  db:
    image: postgres:18
    container_name: enginel_db
    volumes:
      - enginel_db:/var/lib/postgresql
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  redis:
    image: redis:7-alpine
    container_name: enginel_redis
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 5
    command: redis-server --appendonly yes

  celery_worker:
    build: .
    container_name: enginel_celery_worker
    command: celery -A enginel worker --loglevel=info
    volumes:
      - ./enginel:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env

  celery_beat:
    build: .
    container_name: enginel_celery_beat
    command: celery -A enginel beat --loglevel=info --schedule=/tmp/celerybeat-schedule
    volumes:
      - ./enginel:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env

volumes:
  enginel_db:
  redis_data:
