django
psycopg[binary]
dj-database-url
django-auditlog
django-treebeard
djangorestframework
django-filter
django-cors-headers
celery[redis]
redis
django-redis
hiredis

# Geometry Processing
cadquery
numpy
scipy

# AWS S3 Storage
django-storages[s3]
boto3

# Validation & File Handling
python-magic
jsonschema

# Email
django-anymail

# Production server
gunicorn
whitenoise

